body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar  {
  height: 100px;
  background-color: lightslategrey;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  align-items: center;
  color: cadetblue;
  text-align: center;
  
}

.mainImage {
  border-radius: 50px;
  

}

.mainList {
  color: firebrick;
  list-style: none;
  

}

.subText {
  color: black;
}

.pageBottom {
  color:blue;
  background-color: cadetblue;
  text-align: center;
  
}


